# OpenAI API 配置
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_BASE_URL=https://api.siliconflow.cn/v1
# 模型配置
EMBEDDING_MODEL=BAAI/bge-m3

# 仅用于query测试，这里实际上只用测试到召回，可以不配置。配置的话和OPENAI API访问同样的服务
CHAT_MODEL=deepseek-ai/DeepSeek-R1-0528-Qwen3-8B

# ChromaDB 配置（嵌入式模式）
CHROMA_COLLECTION_NAME=docs

# 应用配置
LOG_LEVEL=INFO

# RAG 配置
TOP_K=12
DOC_MAX=8
SIMILARITY_THRESHOLD=0.3
MAX_CHUNK_SIZE=2000
CHUNK_OVERLAP=100
USE_H1_ONLY=True